# ide
.idea/
.vscode/

# AI
GEMINI.md

# Mac
.DS_Store

# Node
node_modules/

# Build
dist/

# env
.env

# Vercel
.vercel/

# TypeScript
api/**/*.js
api/**/*.js.map
.vercel

# Next.js / core application
.next/
.swc/
/core/out/
next-telemetry.json
.env.local
.env.development.local
.env.test.local
.env.production.local
coverage/
reports/
junit.xml
*.tsbuildinfo
